html, body, h1, a {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-weight: inherit;
  	font-style: inherit;
  	font-size: 120%;
  	font-family: inherit;
  	vertical-align: baseline;
  }

body {
  font-family: "Helvetica", "Lucida Grande", "Verdana", "Arial", sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 80%;
}

a, a:link, a:visited, a:active, a:hover, a:visited {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

a:hover {
  background-color: white;
  color: red;
}